body, html {
    height: 100%;
}

 .bg{
     background: #cc2b5e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100%
 

 }

    #word {
        font-size: 30px;
        letter-spacing: 4px;
    }

   #lguessed, #remaining, #wins, #lost{
       font-weight: bold; 
       text-align: left;
   }
#main {
    opacity: .9;
    padding: 10px;
    margin: 10, auto;
}
